<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.icss.dao.TbApproveDetailMapper" >
  <resultMap id="BaseResultMap" type="com.icss.bean.TbApproveDetail" >
    <id column="APPROVEDETAILID" property="approvedetailid" jdbcType="VARCHAR" />
    <result column="APPROVEID" property="approveid" jdbcType="VARCHAR" />
    <result column="USERID" property="userid" jdbcType="VARCHAR" />
    <result column="USERIDTEXT" property="useridtext" jdbcType="VARCHAR" />
    <result column="APPROVETIME" property="approvetime" jdbcType="TIMESTAMP" />
    <result column="APPROVERESULT" property="approveresult" jdbcType="VARCHAR" />
    <result column="MEMO" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    APPROVEDETAILID, APPROVEID, USERID, APPROVETIME, APPROVERESULT, MEMO
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from tb_approve_detail
    where APPROVEDETAILID = #{approvedetailid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from tb_approve_detail
    where APPROVEDETAILID = #{approvedetailid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.icss.bean.TbApproveDetail" >
    insert into tb_approve_detail (APPROVEDETAILID, APPROVEID, USERID, 
      APPROVETIME, APPROVERESULT, MEMO
      )
    values ('', #{approveid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
     now(), #{approveresult,jdbcType=VARCHAR}, #{memo,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.icss.bean.TbApproveDetail" >
    insert into tb_approve_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="approvedetailid != null" >
        APPROVEDETAILID,
      </if>
      <if test="approveid != null" >
        APPROVEID,
      </if>
      <if test="userid != null" >
        USERID,
      </if>
      <if test="approvetime != null" >
        APPROVETIME,
      </if>
      <if test="approveresult != null" >
        APPROVERESULT,
      </if>
      <if test="memo != null" >
        MEMO,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="approvedetailid != null" >
        #{approvedetailid,jdbcType=VARCHAR},
      </if>
      <if test="approveid != null" >
        #{approveid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null" >
        #{approvetime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveresult != null" >
        #{approveresult,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.icss.bean.TbApproveDetail" >
    update tb_approve_detail
    <set >
      <if test="approveid != null" >
        APPROVEID = #{approveid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        USERID = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="approvetime != null" >
        APPROVETIME = #{approvetime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveresult != null" >
        APPROVERESULT = #{approveresult,jdbcType=VARCHAR},
      </if>
      <if test="memo != null" >
        MEMO = #{memo,jdbcType=VARCHAR},
      </if>
    </set>
    where APPROVEDETAILID = #{approvedetailid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.icss.bean.TbApproveDetail" >
    update tb_approve_detail
    set APPROVEID = #{approveid,jdbcType=VARCHAR},
      USERID = #{userid,jdbcType=VARCHAR},
      APPROVETIME = #{approvetime,jdbcType=TIMESTAMP},
      APPROVERESULT = #{approveresult,jdbcType=VARCHAR},
      MEMO = #{memo,jdbcType=VARCHAR}
    where APPROVEDETAILID = #{approvedetailid,jdbcType=VARCHAR}
  </update>
  <!-- 计算当前的审批流程步骤数量  -->
  <select id="approvecount" parameterType="java.lang.String" resultType="java.lang.Integer">
  	SELECT count(*) FROM tb_approve_detail WHERE approveid = #{_parameter,jdbcType=VARCHAR}
  </select>
  <!-- 查看某审批的详情 -->
  <select id="approveDetail" parameterType="java.lang.String" resultMap="BaseResultMap">
	SELECT APPROVEDETAILID, APPROVEID, u.USERID, APPROVETIME, APPROVERESULT, MEMO, USERNAME USERIDTEXT FROM tb_approve_detail ad
	INNER JOIN tb_sys_user u ON ad.userid = u.userid 
	WHERE APPROVEID = #{_parameter,jdbcType=VARCHAR}
  </select>
</mapper>